name: tests

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.18"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4.1.1

      - name: Get dependencies
        run: |
          go mod download

      - name: Build
        run: |
          make build VERSION=0.0.1

  test:
    name: unit-test
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.18"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4.1.1

      - name: Get dependencies
        run: |
          go mod download

      - name: unit-test
        run: make test

  terraform-fmt:
    name: terraform-fmt
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4.1.1
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: "1.2.*"
          terraform_wrapper: false
      - name: terraform-fmt
        run: |
          terraform fmt -recursive examples
          git diff --exit-code examples \
          || (echo 'Seems like you forgot run `terraform fmt -recursive examples`.' && exit 1)
